<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Firebird App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">
         <div class="header">
            <h3 class="text-muted">Python Firebird App</h3>
         </div>

        <div id="formaspago">
            <h1>Formas de pago</h1>
            <tr id=tabla>              
            </tr>
        </div>



        <footer class="footer">
            <p>&copy; Copyright 2018</p>
        </footer>

    </div>
</body>

</html>
